#  ╭──────────────────────────────────────────────────────────────────────────────╮
#     .prettierignore - Whitelist for prettier
#     Docs:
#     https://prettier.io/docs/ignore
#  ╰──────────────────────────────────────────────────────────────────────────────╯

**/bin/**
**/build/**
**/obj/**
**/valestyles/**
